#table {
	background-color: green;
	color: white;
}
#dealer_area, #player_1_area {
	border: solid 2px white;
	padding: 10px;
	height: 200px; 
}
.card{
	color: black;
	padding: 5px;
	background-color: white;
	border-radius: 2px;
	margin: 5px;
}
.back{
	color: white;
	background-color: blue;
}
.red{
	color: red;
}
.purse{
	font-size: 20px;
	padding: 5px;
}
